.single-service {
	.entry-header {
		.entry-meta,
		.entry-title {
			@apply mx-auto text-center;
			max-width: var( --wp--style--global--content-size );
		}
	}

	.post-container {
		@apply mb-0;

		.entry-content {
			@apply mb-0;

			@screen md {
				padding-left: var( --wp--preset--spacing--20 );
				padding-right: var( --wp--preset--spacing--20 );
			}

			> *:last-child {
				&:not( .wp-block-cover ) {
					margin-bottom: var( --wp--preset--spacing--90 );
				}
			}
		}
	}

	.navigation {
		@apply hidden;
	}
}

.tax-service {
	.page-header {
		@apply text-center;
		margin-bottom: var( --wp--preset--spacing--90 );
	}

	.posts-list {
		@apply grid grid-cols-1 mx-0;
		margin-top: var( --wp--preset--spacing--60 );

		@screen xl {
			@apply mx-auto grid-cols-3 gap-x-9 gap-y-24;
		}
	}

	.service-content {
		@apply mx-auto;
		margin-top: var( --wp--preset--spacing--90 );
		max-width: var( --wp--style--global--wide-size );
	}

	.posts-group {
		@apply flex flex-col;

		.section-title {
			@apply mx-auto flex text-center my-0;
			max-width: var( --wp--style--global--wide-size );
		}


		&.has-background {
			margin-top: var( --wp--preset--spacing--90 );
			margin-bottom: var( --wp--preset--spacing--90 );

			.section-title {
				margin-top: var( --wp--preset--spacing--90 );
			}
		}

	}

	.post-container {
		.entry-title a {
			color: var( --wp--preset--color--neutral-900 );
		}

		.entry-content,
		.entry-meta,
		.entry-title,
		.entry-footer {
			@apply px-0;
		}

		.wp-post-image {
			min-height: 200px;
			max-height: 200px;
		}
	}

	.works-list {
		@apply mx-auto;
		max-width: var( --wp--style--global--wide-size );
		margin-top: var( --wp--preset--spacing--60 );
		margin-bottom: var( --wp--preset--spacing--80 );

		.wp-post-image {
			min-height: 304px;
			max-height: 304px;
		}
	}
}

.sub-taxonomies {
	@apply grid grid-cols-1 gap-9;

	padding-top: var( --wp--preset--spacing--90 );
	padding-bottom: var( --wp--preset--spacing--90 );

	@screen md {
		@apply grid-cols-2;
	}
}
