.single-work {
	.post-container {
		@apply mb-0;

		.entry-content {
			@apply mb-0;
			padding-left: var( --wp--preset--spacing--20 );
			padding-right: var( --wp--preset--spacing--20 );

			> *:last-child {
				&:not( .wp-block-cover ) {
					margin-bottom: var( --wp--preset--spacing--90 );
				}
			}

			> p,
			.wp-block-heading {
				@apply mx-auto;
				max-width: var( --wp--style--global--content-size );
			}
		}
	}

	.navigation {
		@apply hidden;
	}
}
