//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
}

html {
	scroll-behavior: smooth;
}

pre {
	@apply overflow-auto;
}

.post-container {
	@apply mb-6;

	@media only screen and ( max-width: 600px ) {
		margin-left: 16px;
		margin-right: 16px;
	}
}

.wp-site-blocks {
	@media only screen and ( min-width: 600px ) {
		width: calc( 100% - 280px );
		margin-left: 280px;
	}
}
