//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------
.site-header {
	background-color: var( --wp--preset--color--neutral-900 );
	color: #fff;

	.wp-block-columns {
		@media only screen and ( max-width: 600px ) {
			padding: 16px 0;
		}

		.wp-block-site-logo {
			.custom-logo {
				@media only screen and ( min-width: 600px ) {
					max-height: 142px;
					height: 142px;
					width: 284px;
				}
			}
		}
	}

	&.sticky-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
	}
}
