//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------
.site-header {
	background-color: #fff;

	width: 280px;

	.wp-block-columns {
		padding: 30px 0;

		@media only screen and ( max-width: 600px ) {
			padding: 16px 0;
		}

		.wp-block-site-logo {
			.custom-logo {
				max-height: 40px;
			}
		}
	}

	&.sticky-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
	}

	.off-canvas-open {
		@apply hidden;
	}

	#primary-menu {
		margin-top: 32px;
		list-style: none;
		padding-left: 16px;

		a {
			font-weight: 400;
			font-style: normal;
			text-transform: none;
			letter-spacing: 0;
			line-height: 1.6;
			font-size: 21px;
			padding: 0.2em;
		}
		//-----------------------------------------
		// The Down Caret
		//-----------------------------------------
		.caret-down {
			@apply block transition-all duration-200 ease-in-out;

			background: url( ../images/icons/caret-down.svg ) 50% 50% no-repeat;
			background-size: 100%;
			width: 12px;
			height: 12px;
			margin-top: 11px;
			margin-left: 8px;
			transform: rotate( -90deg );
		}

		.menu-item-has-children {
			.caret-down {
				@apply hidden;
			}
			a {
				@apply inline-flex;
			}
		}

		ul {
			list-style: none;
			padding-left: 16px;
		}
		// level 2.
		.sub-menu {
			.sub-menu-header {
				@apply hidden;
			}

			.caret-down {
				@apply block;
			}

			.back-button {
				@apply hidden absolute top-0 left-0 cursor-pointer;

				height: 100vh;
				width: 32px;
				background-color: #ddd;

				&::after {
					@apply absolute;

					content: '';
					left: 8px;
					top: 206px;
					width: 16px;
					height: 16px;
					background: url( ../images/icons/caret-down.svg ) 50% 50%
						no-repeat;
					background-size: 100%;
					transform: rotate( 90deg );
				}
			}

			> .menu-item-has-children > .sub-menu {
				padding-top: 202px;
				padding-left: 48px;

				.sub-menu {
					padding-top: 0;
				}
			}

			// level 3.
			.sub-menu {
				@apply block fixed top-0;
				left: -280px;
				width: 280px;
				height: 100vh;
				z-index: 999;
				background-color: #fdfdfd;
				transition: all 0.5s ease;

				a .caret-down {
					@apply hidden;
				}

				.sub-menu-header {
					@apply block font-medium text-xl mb-3 pb-2;
					border-bottom: 1px solid #ddd;
				}

				// level 4.
				.sub-menu {
					@apply block relative w-auto;
					background-color: transparent;
					transition: none;
					padding-left: 16px;

					.sub-menu-header {
						@apply hidden;
					}
				}
			}

			.focus {
				.back-button {
					@apply block;
				}
				.sub-menu {
					left: 0;

					.sub-menu .back-button {
						@apply hidden;
					}
				}
			}
		}
	}
}
