//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------
.site-header {
	background-color: #fff;

	.wp-block-columns {
		padding: 30px 0;

		.wp-block-site-logo {
			.custom-logo {
				max-height: 40px;
			}
		}
	}

	&.sticky-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
	}
}
