/* stylelint-disable declaration-no-important */
main,
.site-main {
	margin-top: 142px;
	margin-block-start: 142px !important;

	@media only screen and ( max-width: 600px ) {
		margin-top: 112px;
		margin-block-start: 112px !important;
	}
}
