.bbpress.archive {
	.site-main {

		&.has-padding-top {
			@apply pt-0;
		}


		.entry-header {
			@apply relative pt-48 mb-32;

			.entry-title {
				@apply mx-auto m-0 p-0;
				max-width: theme( 'layout.contentSize' );
			}

			padding-bottom: calc(1.5rem * 2);

			&::before {
				@apply absolute w-full h-full bg-base top-0 left-0 -z-10;
				content: '';
			}

			@screen max-tablet-portrait {
				@apply px-16;
			}

		}
	}
}


#bbpress-forums {
	@apply container;

	div.bbp-breadcrumb {
		p {
			@apply text-normal;

			a {
				@apply no-underline;
			}
		}
	}

	li.bbp-header {
		@apply p-16 bg-gray-100 border-t-0;

		.forum-titles {
			li {
				@apply h2 text-3xl my-8;

				@screen max-tablet-portrait {
					@apply text-normal;
				}
			}
		}
	}

	li.bbp-body {
		@apply grid;

		ul.hentry {
			@apply inline-block border-t-0 py-gap px-16 text-normal;

			line-height: 1.5;

			@screen max-tablet-portrait {
				@apply text-sm;

				.bbp-topic-meta span {
					white-space: pre-wrap;
				}
			}

			.bbp-forum-title,
			.bbp-topic-permalink {
				@apply h2 text-3xl no-underline mb-16 block;

				@screen max-tablet-portrait {
					@apply text-normal;
				}
			}

			.bbp-forum-content,
			.bbp-topic-meta {
				@apply text-normal my-0;

				@screen max-tablet-portrait {
					@apply text-sm;
				}
			}

			&.odd {
				@apply bg-base;
			}

		}
	}
}
