//--------------------------------------------------------------
// Post Elements
//--------------------------------------------------------------
.entry-meta {
	@apply mb-16;
}

.entry-footer {
	@apply mt-16;
}

.cat-links,
.tag-links {
	@apply block;
}

.post-edit-link {
	@apply block mb-16 mt-16;
}

.post-container {
	&:not( :last-child ) {
		@apply mb-16;
	}
}

.post-navigation {
	@apply container;

	.nav-links {
		@apply flex flex-col text-center;

		@screen tablet-landscape {
			@apply flex-row justify-between;

			text-align: unset;
		}
	}
}

.post-navigation .nav-next {
	@apply mt-16;

	@screen tablet-landscape {
		@apply mt-0;
	}
}

.updated {
	&:not( .published ) {
		@apply hidden;
	}
}

//--------------------------------------------------------------
// Post Archives
//--------------------------------------------------------------
.archive,
.category,
.blog {
	.site-main {
		@apply wds-grid-2 container;

		@screen max-tablet-portrait {
			grid-template-columns: repeat( 1, 1fr );
		}

		row-gap: calc( theme( 'spacing.gap' ) * 2 );
		column-gap: calc( theme( 'spacing.gap' ) * 1.5 );

		.entry-header,
		.page-header {
			@apply w-full;
			max-width: none;
			grid-column: 1 / -1;

			.page-title {
				@apply mx-auto px-0;
				max-width: theme( 'layout.contentSize' );
			}
		}
		.hentry {
			@apply flex flex-col w-full m-0;
			.entry-header {
				@apply px-0;

				.wp-post-image,
				.placeholder-img {
					@apply object-cover w-full;

					min-height: 326px;
					max-height: 326px;

					@media screen and ( min-width: theme('screens.tablet-portrait') ) and ( max-width: theme('screens.tablet-landscape') ) {
						min-height: 200px;
						max-height: 200px;
					}
				}

				.entry-title {
					@apply mt-gap;

					a {
						@apply no-underline;
					}
				}
			}
			.entry-content {
				/* stylelint-disable */
				p {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
				/* stylelint-enable */
			}
			.entry-footer {
				@apply ml-0 mr-auto px-0;
			}
		}
	}
}

// Post single
.single-post {
	.post-container {
		.entry-header {
			@apply container text-center;

			padding-bottom: calc( theme( 'spacing.gap' ) * 2 );

			.entry-title {
				@apply mx-auto px-0 pb-gap;
				max-width: theme( 'layout.contentSize' );
			}

			.wp-post-image {
				padding-top: calc( theme( 'spacing.gap' ) * 2 );
			}
		}

		.entry-content,
		.entry-footer {
			padding-bottom: calc( theme( 'spacing.gap' ) * 2 );
		}
	}
}
