//--------------------------------------------------------------
// Resource Archives
//--------------------------------------------------------------
.tax-resources-topic,
.tax-resources-industry,
.tax-resources-type,
.post-type-archive {
	.site-main {
		@apply block;

		.page-header {
			.page-title {
				padding-bottom: calc( theme( 'spacing.gap' ) * 2 );
			}
		}
	}
}

.resources-facets-list {
	@apply px-16;

	.entry-title {
		@apply text-heading-sm;

		a {
			@apply no-underline;
		}
	}

	.entry-header,
	.entry-content,
	.entry-footer {
		@apply px-0;
	}

	.entry-header {
		.wp-post-image {
			@apply w-full object-cover;

			max-height: 200px;

			@screen tablet-portrait {
				max-height: 170px;
			}

			@screen tablet-landscape {
				max-width: 378px;
				max-height: 230px;
			}
		}
	}
}

//--------------------------------------------------------------
// Resource Single
//--------------------------------------------------------------
