//--------------------------------------------------------------
// Resource Archives
//--------------------------------------------------------------
.tax-resources-topic,
.tax-resources-industry,
.tax-resources-type,
.post-type-archive {
	.site-main {
		@apply block;

		.page-header {
			padding-bottom: calc( theme( 'spacing.gap' ) * 2 );

			*:last-child {
				@apply mb-0;
			}
		}
	}
}

.resources-facets-list {
	@apply px-16;

	.entry-title {
		a {
			@apply no-underline;
		}
	}

	.entry-header,
	.entry-content,
	.entry-footer {
		@apply px-0;
	}

	.resources {
		.entry-header {
			.wp-post-image,
			.placeholder-img {
				@apply w-full object-cover;

				max-height: 200px;

				@screen tablet-portrait {
					max-height: 170px;
				}

				@screen tablet-landscape {
					max-width: 378px;
					max-height: 230px;
					min-height: 230px;
				}
			}
		}
	}
}

//--------------------------------------------------------------
// Resource Single
//--------------------------------------------------------------
.single-resources {
	.wp-post-image {
		padding-bottom: calc( theme( 'spacing.gap' ) * 1.5 );
	}
}
