@keyframes moveVertical {
	0% {
		transform: translateY( 0 );
	}

	40% {
		transform: translateY( 25px );
	}

	to {
		transform: translateY( 0 );
	}
}

.avatar-container {
	@apply w-full relative h-76 mt-16;
}

.avatar-bubble-outer {
	@apply absolute;

	left: calc( 50% - 36px );
}

.avatar-bubble {
	@apply w-72 h-72;
	animation: moveVertical 5s linear infinite;

	img {
		@apply rounded-full;
	}
}

.throughts-logo {
	@apply mx-auto px-0 mb-40 w-full;
	max-width: theme( 'layout.contentSize' );
}
